name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pull-requests: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          working-directory: contracts-indexer/event-processor
          go-version-file: solver/go.mod
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: solver
